<!DOCTYPE html>
<html ng-app="myApp">
   <head>
      <title>
         angular Product list
      </title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
      <link href="https://fonts.googleapis.com/css?family=Playball" rel="stylesheet">
      <link rel="stylesheet" type="text/css" href="product.css">
      <script src="app.js"></script>

   </head>
   <body ng-controller="productCtrl">
      <div class="container">
         <h3  class="services">Services</h3>
         <div class="panel panel-default" ng-init="item.isSelected=false" ng-class="{'green' : item.isSelected,'red':!item.isSelected}"  ng-click="item.isSelected=!item.isSelected; productclick(item.value,$index)" ng-repeat="item in productList">
            <div class="panel-body">
          
                  <span>{{item.name}}</span>
                  <span class="pull">{{item.value | currency}}</span>
           
            </div>
         </div>
         <div class="panel panel-default">
            <div class="panel-body color">
               <hr>
               Total:
               <span class="pull-right">{{total | currency}}</span>
            </div>
         </div>
      </div>
   </body>
</html>